<%- include("components/Header.ejs")%>
<%- include("components/Navbar.ejs")%>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque rerum, omnis illum perspiciatis quidem repudiandae, laudantium minima natus nemo perferendis vitae animi? Fuga amet commodi reprehenderit, magnam inventore a nostrum.</p>
    <h3>Sampel </h3>
    <img src="dragon-toothless-how-to-train-your-dragon-2.jpg" alt="img not found" style="height: 700px; width: 1000px; ">
    <%- include("components/Footer.ejs")%>